<!DOCTYPE html>
<html lang="pl">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/leaflet.css">
  
    <!-- Socket -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.5.0/socket.io.js"></script>
    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fasthand&family=Poppins:ital,wght@0,400;1,500&display=swap"
        rel="stylesheet">
   
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
        integrity="sha512-Fo3rlrZj/k7ujTnHg4CGR2D7kSs0v4LLanw2qksYuRlEzO+tcaEPQogQ0KaoGN26/zrn20ImR1DfuLWnOo7aBA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/css/style.css">
    <title><%= typeof title != 'undefined'?title:'Kejtrip - blog podróżniczy' %></title>
    <meta name='description' content= 'Blog podróżniczy Katarzyny Rusek, kobiety podróżującej solo po całym świecie. Znajdziesz tutaj ciekawe relacje, wskazówki, informacje oraz poradniki.'/>
    <meta property= 'og:title'  content=  'Kejtrip - blog podróżniczy'  />
    <meta property= 'og:url'  content= kejtrip.pl />
    <meta property= 'og:type'  content= website />
    <meta property= 'og:image'  content= 'res.cloudinary.com/devluki/image/upload/v1659633623/Kejtrip_ejypdh.png'  />
    <meta property= 'og:description'  content= 'Blog podróżniczy Katarzyny Rusek, kobiety podróżującej solo po całym świecie. Znajdziesz tutaj ciekawe relacje, wskazówki, informacje oraz poradniki. '/>

</head>

<body>
    <div class="wrapper">
        <header class="header">
            <nav class="nav shadow">
                <!-- TO Do -> delete -->
                <!-- <div class="logo-container">
                    <img class="logo link nav__logo" src="./IMG/logo-napis-green.png" alt="logo"></div> -->
                <div class="nav__burger-container"><i class="fa-solid fa-bars"></i></div>

                <ul class="nav__links">

                    <li class=" nav__logo-container">
                        <img class="nav__logo-img" src="/img/logo-napis-green.png" alt="logo"></li>
                    <li class="nav__item">
                        <a class="nav__link" href="/"><i class="nav-icon fas fa-home"> </i>Home</a>
                    </li>

                    <li class="nav__item">
                        <a class="nav__link" href="/about"><i class="nav-icon far fa-address-card"></i> O mnie</a>
                    </li>
                    <li class="nav__item"><a class="nav__link" href="/destinations"><i
                        class="nav-icon fas fa-map-signs"></i> Kierunki</a></li>
                    <li class="nav__item nav__search-container">
                        <a class="nav__link nav__search" href=""><i class="fa-solid fa-magnifying-glass-location nav-icon"></i> Szukaj</a>
                        <div class="nav__form-container search-active">
                            <form method="POST" action="/search" class="form">

                                <input type="search" name="searchTerm" class="form__input" placeholder="Szukaj..."
                                    aria-label="Search">
                                <button type="submit" class="btn-search"><i
                                        class="fa-solid fa-magnifying-glass-location"></i></button>
                                <!-- <input type="submit" value="Szukaj" class="btn"> -->


                            </form>

                        </div>
                    </li>


                    <li class="nav__item nav__social">
                        <a class="nav__link" href="https://www.facebook.com/KejTrip-102614665683163"><i class="fa-brands fa-facebook-square"></i></a><a class="nav__link" href="#"><i class="fa-brands fa-instagram-square"></i></a><a class="nav__link" href="#"><i
                                    class="fas fa-envelope"></i></a></li>
                </ul>
            </nav>

        </header>



        <%- body -%>
        <footer class="footer ">

            <div class="footer__content-container ">
                <p class="footer__content text">Mam nadzieję, że podczas czytania choć raz pojawił się uśmiech
                    na Waszych twarzach i udało mi się przesłać Wam pozytywną energię!
                </p>

            </div>
            <div class="footer__links-container">
                <!-- <p class="footer__social-heading heading">
                    <span class="heading__bar"></span><span class="heading-text">Social media</span>
                    <span class="heading__bar"></span></p> -->
                <ul class="footer__links">
                    <li><a class="footer__link" href="https://www.facebook.com/search/top?q=kejtrip"><i
                        class="fa-brands fa-facebook-square"></i></a></li>
                    <li><a class="footer__link" href="#"><i class="fa-brands fa-instagram-square"></i></a></li>
                    <li><a class="footer__link" href="#"><i
                        class="fas fa-envelope"></i></a></li>
                    <li><a class="footer__link" href="https://www.paypal.com/paypalme/katarzynarusek"><i class="fa-brands fa-paypal"></i></a>
                    </li>
                </ul>
            </div>


        </footer>


    </div>

    </div>
    </div>


    <script src="/js/webmap.js"></script>
    <script src="/js/script.js"></script>
</body>

</html>