<section class="header__banner-container">

    <div class="header__banner" style="height:100vh ;">

        <div class="header__panel" style=" max-width:1140px;  ">
            <div class="panel">
                <p class="articles__latest-posts-heading heading">
                    <span class="heading__bar"></span>
                    <span class="heading-text">Panel admina</span>
                    <span class="heading__bar"></span></p>

                <ul class="panel__menu">
                    <li class="menu__item"><a href="/submit-post" class="menu__link btn">Dodaj artykuł</a></li>
                    <li class="menu__item"><a href="/about/edit/6277aa34772ff87e9fe3119c" class="menu__link btn">Edytuj
                        "O mnie"</a></li>
                    <li class="menu__item"><a href="/admin-panel/list" class="menu__link btn">Lista artykułów</a></li>
                    <li class="menu__item"><a href="/admin-panel/upload" class="menu__link btn">Dodaj zdjęcie</a></li>
                    <li class="menu__item"><a href="/admin-panel/map" class="menu__link btn">Mapa</a></li>
                    <li class="menu__item"><a href="/" class="menu__link btn">Wyjście</a></li>
                </ul>


            </div>

        </div>
    </div>
</section>