<section class="header__banner-container">
    <div class="header__banner" style="height:100vh ;">

        <div class="header__panel">
            <!-- <div class="header__content">
                <p class="header__welcome">Logowanie</p>



            </div> -->

            <form method="POST" class="panel__login">
                <label for="Login">Login:</label>
                <input type="text" name="login" class="form__input">
                <label for="Login">Hasło:</label>
                <input type="password" name="password" class="form__input">
                <input type="submit" value="Zaloguj" class="btn">

            </form>
        </div>
    </div>
</section>