<section class="header__banner-container">

    <div class="header__banner" style="height:100vh ;">

        <div class="header__panel" style=" max-width:1140px;  ">
            <div class="panel">
                <p class="articles__latest-posts-heading heading">
                    <span class="heading__bar"></span>
                    <span class="heading-text">Panel admina</span>
                    <span class="heading__bar"></span></p>

                <ul class="panel__menu">
                    <li class="menu__item"><a href="/admin-panel/map/add-pins" class="menu__link btn">Dodaj piznezkę</a>
                    </li>
                    <li class="menu__item">
                        <a href="/admin-panel/map/pins-list" class="menu__link btn">Edytuj pinezki</a></li>
                    <li class="menu__item">
                        <a href="/admin-panel/map/add-route" class="menu__link btn">Stwórz nową trasę</a></li>
                    <li class="menu__item">
                        <a href="/admin-panel/map/route-list" class="menu__link btn">Edytuj trasę</a>
                    </li>

                    <li class="menu__item"><a href="/admin-panel" class="menu__link btn">Wyjście</a></li>
                </ul>


            </div>

        </div>
    </div>
</section>