<section class="header__banner-container">

    <div class="header__banner"></div>

    <div class="header__panel">
        <div class="panel">
            <p class="articles__latest-posts-heading heading">
                <span class="heading__bar"></span>
                <span class="heading-text">Panel admina</span>
                <span class="heading__bar"></span></p>


            <% if(infoSubmitObj !='') {%>
            <div class="message-container" style="background-color:green">
                Submit succes!
                <!--  -->
                <%= infoSubmitObj %>
            </div>
            <% } %>

            <% if(infoErrorsObj !='') {%>
            <div class="message-container" style="background-color:red">
                Error!
                <!--  -->
                <%= infoErrorsObj[0].message %>
                <%= infoErrorsObj%>
            </div>
            <% } %>

            <div class="inputs-container">
                <div class="panel__spinner-overlay">
                    <div class="panel__spinner-container">
                        <i class="fa-solid fa-spinner panel__spinner"></i>
                    </div>
                </div>

                <form action="/admin-panel/upload" enctype="multipart/form-data" method="POST" class="post__form">

                    <label for="image">Zdjęcia do treści artykułów</label> <br>
                    <input type="file" class="form-control" name="image" accept="image/*">
                    <div class="input-container">
                        <label for="location">Nazwa Państwa</label> <br>
                        <small>Wpisz nazwę kraju</small> <br>
                        <input type="text" name="location" id="location" class="form__input">
                    </div>


                    <div class="input-container">
                        <label for="city">Dokładna lokalizacja</label> <br>
                        <small>Wpisz nazwę regionu/miasta</small> <br>
                        <input type="text" name="city" id="city" class="form__input">
                    </div>
                    <div class="input-container">
                        <label for="description">Opis</label> <br>
                        <small>Napisz co jest na zdjęciu</small> <br>
                        <input type="text" name="description" id="description" class="form__input">
                    </div>
                    <div class="btns__container">
                        <div class="input-container">
                            <button type="submit" class="btn btn__submit" id="btn__submit">Prześlij zdjęcie</button>
                            <a href="/admin-panel" class="menu__link btn">Menu</a>
                        </div>
                    </div>
                </form>

            </div>

        </div>



    </div>

    </div>

</section>