<section class="header__banner-container">

    <div class="header__banner"></div>

    <div class="header__panel">
        <div class="panel">
            <p class="articles__latest-posts-heading heading">
                <span class="heading__bar"></span>
                <span class="heading-text">Panel admina</span>
                <span class="heading__bar"></span></p>

            <div class="input-container">
                <form action="/admin-panel/upload" enctype="multipart/form-data" method="POST" class="post__form">

                    <label for="image">Zdjęcia do treści artykułów</label> <br>
                    <input type="file" class="form-control" name="image" accept="image/*">
                    <div class="input-container">
                        <button type="submit" class="btn" id="addSection">Prześlij zdjęcie</button>
                        <a href="/admin-panel" class="menu__link btn">Menu</a>
                    </div>
                </form>
            </div>


        </div>

    </div>

</section>